/* 1. 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 2. 색상 변수 정의 (청운대 브랜드 컬러 적용) */
:root {
    /* [메인] 청운대 블루 (사이드바, 푸터 배경) */
    --main-blue: #004ea2; 
    --main-blue-dark: #003264;
    
    /* [포인트] 청운대 그린 (버튼, 호버 강조, 포인트) */
    --brand-green: #00a73c;
    
    /* [보조] 청운대 그레이 (테두리 등 보조 활용) */
    --brand-gray: #eeeeee;

    /* 배경색 (기존 유지 - 밝은 회색) */
    --bg-gray: #f8f9fa;

    /* 배경색 (밝은 하얀색) */
    --bg-white: #ffffff;
    
    /* 텍스트 기본 색상 */
    --text-dark: #191919;
    --text-white: #fafafa;
}

/**************** 기본적인 폰트 및 배경 설정 ****************/
body {
    margin: 0;/* 화면에 꽉 차게 (하얀 테두리 삭제) */
    display: flex;/* 정렬 상자로 변신 */
    flex-direction: column;/* 위에서 아래로 차례대로 배치 */
    font-family: "Noto Sans KR", sans-serif;/*폰트 적용*/

    background-color: var(--bg-gray);

    overflow-x: hidden;/*가로 스크롤바가 생기지 않도록 강제로 숨기기*/
    overflow-y: scroll;
}