/* ⭐ 폰트 불러오기 (HTML link 태그 대신 사용) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/**************** 기본적인 폰트 및 배경 설정 ****************/
body {
    margin: 0;/* 화면에 꽉 차게 (하얀 테두리 삭제) */
    display: flex;/* 정렬 상자로 변신 */
    flex-direction: column;/* 위에서 아래로 차례대로 배치 */
    font-family: "Noto Sans KR", sans-serif;/*폰트 적용*/
    background-color: #f8f9fa;/*화면 배경 색 설정*/
    overflow-x: hidden;/*가로 스크롤바가 생기지 않도록 강제로 숨기기*/
    overflow-y: scroll;
}